%h4
  Vote hotel from 1 to 5
  = flash[:error]
%div{class:"modal-body"}
  %div.text-center

    = form_for ([@hotel,@hotel.votes.build]) do |f| 
            
      = f.radio_button :mark,1, class: 'star',checked: true
      = f.radio_button :mark,2, class: 'star'  
      = f.radio_button :mark,3, class: 'star'
      = f.radio_button :mark,4, class: 'star'
      = f.radio_button :mark,5, class: 'star'           
      = f.submit "Vote", :class =>'btn btn-success'
      