<!DOCTYPE html>
%html
  %head
    %title Hotels
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags

  %body
    = render "layouts/navbar"
  
    %div.container.bg-success
      = render "layouts/sign_links"

    
      %div.col-md-offset-2
        %h1.text-muted Hotel Advisor
    
    %div.container.bg-warning
      %div.row
        = yield

